<header class="jumbotron">
  <h1 class="text-center text-primary">Angular Rest Page</h1>
</header>

<!-- <article class="row">
  <app-calculator></app-calculator>
  <app-volume></app-volume>
  <app-food></app-food>
  <app-tax></app-tax>
</article> -->
<nav class="row bg-dark mx-auto ">
  <a class="m-2 p-2 text-white" routerLink="/books">View Books</a>
  <a class="m-2 p-2 text-white" routerLink="/user">View Users</a>
  <a class="m-2 p-2 text-white" routerLink="/products">View Products</a>


</nav>

<router-outlet></router-outlet>
