<div class="col-4 mx-auto">
  <h1>Add Book</h1>
  <div class="alert alert-success">{{ msg }}</div>
  <form name="frm" #frm="ngForm" (ngSubmit)="edit()">
    <div>Book Id</div>
    <div>
      <input
        type="number"
        class="form-control"
        readonly
        name="txteid"
        id=""
        [(ngModel)]="book.bookId"
        required
        #eid="ngModel"
      />
    </div>
    <div class="alert alert-danger" *ngIf="eid.invalid && eid.touched">
      book Id is required
    </div>

    <div>Title</div>
    <div>
      <input
        type="text"
        class="form-control"
        name="txtename"
        id=""
        [(ngModel)]="book.title"
        required
        pattern="([a-zA-Z]+)|([a-zA-Z]+[ ][a-zA-Z]+)"
        #ename="ngModel"
      />
    </div>

    <div class="alert alert-danger" *ngIf="ename.invalid && ename.touched">
      book Nmae must contain min 3 and max 15 alphabets
    </div>

    <div>Price</div>
    <div>
      <input
        type="number"
        class="form-control"
        name="txtsal"
        id=""
        [(ngModel)]="book.price"
        required
        #esal="ngModel"
      />
    </div>

    <div class="alert alert-danger" *ngIf="esal.invalid && esal.touched">
      price is required
    </div>

    <div>Author</div>
    <div>
      <input
        type="text"
        class="form-control"
        name="txtdept"
        id=""
        [(ngModel)]="book.author"
        required
        pattern="([a-zA-Z]+)|([a-zA-Z]+[ ][a-zA-Z]+)"
        #edept="ngModel"
      />
    </div>
    <div class="alert alert-danger" *ngIf="edept.invalid && edept.touched">
      author must contain alphabets
    </div>

    <div><input type="submit" [disabled]="!frm.valid" value="edit Book" /></div>
  </form>
</div>
